@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}
#login-form {
	margin:5% auto;
	max-width:500px;
}
/* home page */
#wrapper{
	padding-top:50px;
}


.resuldData.table td, .resuldData.table th {
    min-width: 125px !important;
    text-align: center;
}

.resuldDatalist{
	overflow: auto;
}
/*.resuldData{
    width: 1170px;
    overflow-x: scroll;
}*/

.valueData p{
	max-height: 250px;
	overflow-y: scroll;
}

.valueData p {
    max-height: 39px;
    overflow-y: scroll;
    padding: 0 10px;
}
.resuldData.table td.valueData {
    min-width: 245px !important;
}

.generateResultData{
	text-align: right; 
}